$color-blue: #3949e7;
$color-blue-dark: #2e2fb2;
$color-red: #f21f5b;
$color-red-dark: #b20543;
$color-green: #38c463;
$color-white: #ffffff;
$color-gray: #eaeffc;
$color-gray-dark: #6a6a6a;
$color-black: #222222;

$shadow: 0 0 8px rgba(#000000, 0.16);

$breakpoint-xs: 320px;
$breakpoint-s: 768px;
$breakpoint-m: 992px;
$breakpoint-l: 1280px;
$breakpoint-xl: 1504px;
